.opening {
  display: grid;
  grid-template-columns: auto;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: auto;
  flex-direction: row;
  justify-content: center;
}
